<md-toolbar color="primary">
  <button id="menu" md-icon-button (click)="ygopro.openDrawer()">
    <md-icon>menu</md-icon>
  </button>
  <form (submit)="search(key)">
    <input type=search placeholder="卡片搜索" name="key" [(ngModel)]="key" [mdAutocomplete]="auto" [formControl]="searchCtrl">

    <md-autocomplete #auto="mdAutocomplete">
      <md-option *ngFor="let card of suggestion | async" [value]="card" (onSelectionChange)="search(card)">
        {{ card }}
      </md-option>
    </md-autocomplete>
  </form>
  <a href="https://accounts.moecube.com/profiles" target="_blank" md-icon-button>
    <img id="avatar" [src]="login.user.avatar_url">
  </a>

  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>add</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item>Item 1</button>
    <button md-menu-item>Item 2</button>
  </md-menu>
</md-toolbar>

<md-grid-list cols="4" rowHeight="100px" gutterSize="0">
  <!--<md-grid-tile>-->
  <!--<a href="https://accounts.moecube.com/profiles" id="avatar" md-raised-button [style.background-image]="'url(' + login.user.avatar_url + ')'">{{login.user.username}}</a>-->
  <!--</md-grid-tile>-->
  <md-grid-tile>
    <button md-raised-button color="primary" (click)="request_match('athletic')">
      <md-icon fontSet="fa" fontIcon="fa-futbol-o"></md-icon>
      <br>竞技匹配
    </button>
  </md-grid-tile>
  <md-grid-tile>
    <button md-raised-button color="primary" (click)="request_match('entertain')">
      <md-icon>toys</md-icon>
      <br>娱乐匹配
    </button>
  </md-grid-tile>
  <md-grid-tile><a md-raised-button color="primary" routerLink="/ygopro/rooms">
    <md-icon>games</md-icon>
    <br>房间列表</a></md-grid-tile>
  <md-grid-tile><a md-raised-button color="primary" routerLink="/ygopro/rooms/new">
    <md-icon>add_box</md-icon>
    <br>创建房间</a></md-grid-tile>
  <md-grid-tile><a md-raised-button routerLink="/ygopro/windbot">
    <md-icon>airplanemode_active</md-icon>
    <br>单人模式</a></md-grid-tile>
  <md-grid-tile><a md-raised-button routerLink="/ygopro/watch">
    <md-icon>remove_red_eye</md-icon>
    <br>观战</a></md-grid-tile>
  <!--<md-grid-tile>-->
  <!--<button md-raised-button (click)="ygopro.watch_replay()">-->
  <!--<md-icon>history</md-icon>-->
  <!--<br>观看录像-->
  <!--</button>-->
  <!--</md-grid-tile>-->
  <md-grid-tile>
    <button md-raised-button (click)="ygopro.edit_deck()">
      <md-icon>edit</md-icon>
      <br>编辑卡组
    </button>
  </md-grid-tile>
  <md-grid-tile><a md-raised-button href="https://ygobbs.com" target="_blank">
    <md-icon>forum</md-icon>
    <br>社区</a></md-grid-tile>
  <md-grid-tile><a md-raised-button [href]="arena_url" target="_blank">
    <md-icon fontSet="fa" fontIcon="fa-trophy"></md-icon>
    <br>决斗数据库</a></md-grid-tile>
  <md-grid-tile>
    <button md-raised-button (click)="ygopro.backHome()"><span class="icon">233</span><br>直连</button>
  </md-grid-tile>
</md-grid-list>

<md-card *ngFor="let item of ygopro.news" class="example-card">
  <a [href]="item.url" target="_blank">
    <md-card-header>
      <img *ngIf="item.image" md-card-avatar [src]="item.image">
      <md-card-title>{{item.title}}</md-card-title>
      <md-card-subtitle>{{item.updated_at | date:"mediumDate"}}</md-card-subtitle>
    </md-card-header>
  </a>
</md-card>

<!--<md-card *ngFor="let item of ygopro.topics | async">-->
  <!--<a [href]="item.url" target="_blank">-->
  <!--<md-card-header>-->
    <!--<img *ngIf="item.image_url" md-card-avatar [src]="item.image_url">-->
    <!--<md-card-title>{{item.title}}</md-card-title>-->
    <!--<md-card-subtitle>by {{item.last_poster_username}} / {{item.last_posted_at | date:"mediumDate"}}</md-card-subtitle>-->
  <!--</md-card-header>-->
  <!--</a>-->

  <!---->
  <!--<md-card-header>-->
    <!--<img [src]="item.created_by.avatar_url" md-card-avatar class="example-header-image">-->
    <!--<md-card-title>{{item.title}}</md-card-title>-->
    <!--&lt;!&ndash;<md-card-subtitle>Dog Breed</md-card-subtitle>&ndash;&gt;-->
  <!--</md-card-header>-->
  <!--<img md-card-image [src]="item.image_url">-->
  <!--<md-card-content>-->
    <!--&lt;!&ndash;<p [innerHTML]="item.description">&ndash;&gt;-->
    <!--&lt;!&ndash;The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.&ndash;&gt;-->
    <!--&lt;!&ndash;A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally&ndash;&gt;-->
    <!--&lt;!&ndash;bred for hunting.&ndash;&gt;-->
    <!--&lt;!&ndash;</p>&ndash;&gt;-->
  <!--</md-card-content>-->
  <!--<md-card-actions>-->
    <!--<button md-button>LIKE</button>-->
    <!--<button md-button>SHARE</button>-->
  <!--</md-card-actions>-->
<!--</md-card>-->
