#menu {
  margin-left: -8px;
  margin-right: 24px;
}

#avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

form {
  flex: 1 1 auto;
}

input {
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  width: 100%;
  padding-right: 8px;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: lightgray;
}

/*not works*/
/*input::-webkit-search-cancel-button {*/
/*color: lightgray;*/
/*}*/

mat-form-field {
  width: 100%;
}

[mat-raised-button] {
  border-radius: 0;
  box-shadow: none;

}

[mat-button], [mat-raised-button] {
  width: 100%;
  height: 100%;
}

a[mat-button], a[mat-raised-button] {
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-card-content {
  display: flex;
  flex-direction: row;
}

[mat-card-avatar] {
  width: 128px;
  height: 72px;
  object-fit: cover;
  border-radius: initial;
}

[fontSet] {
  font-size: 24px;
}

.icon {
  font-size: 20px;
  line-height: 24px;
}

#avatar /deep/ .mat-button-wrapper {
  background: red;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 24px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

#points dt, #points dd {
  width: 56px;
  font-size: 14px;
}

#points dd {
  text-align: right;
  margin: 0
}
