<!--https://github.com/google/material-design-icons/blob/master/iconfont/codepoints-->

<md-toolbar color="primary">
  <button id="menu" md-icon-button (click)="ygopro.openDrawer()">
    <md-icon>menu</md-icon>
  </button>
  <form (submit)="search(key)">
    <input type=search placeholder="卡片搜索" name="key" [(ngModel)]="key" [mdAutocomplete]="auto" [formControl]="searchCtrl">

    <md-autocomplete #auto="mdAutocomplete">
      <md-option *ngFor="let card of suggestion | async" [value]="card" (onSelectionChange)="search(card)">
        {{ card }}
      </md-option>
    </md-autocomplete>
  </form>
  <a href="https://accounts.moecube.com/profiles" target="_blank" md-icon-button>
    <img id="avatar" [src]="login.user.avatar_url">
  </a>

  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>add</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <a [href]="login.logout()" md-menu-item>切换用户</a>
    <button md-menu-item>大厅版本 {{version}}</button>
    <button md-menu-item *ngIf="build">应用版本 {{build.version_name}}</button>
  </md-menu>
</md-toolbar>

<md-grid-list cols="4" rowHeight="100px" gutterSize="0">
  <!--<md-grid-tile>-->
  <!--<a href="https://accounts.moecube.com/profiles" id="avatar" md-raised-button [style.background-image]="'url(' + login.user.avatar_url + ')'">{{login.user.username}}</a>-->
  <!--</md-grid-tile>-->
  <md-grid-tile>
    <button md-raised-button color="primary" (click)="request_match('athletic')">
      <md-icon fontSet="fa" fontIcon="fa-futbol-o"></md-icon>
      <br>竞技匹配
    </button>
  </md-grid-tile>
  <md-grid-tile>
    <button md-raised-button color="primary" (click)="request_match('entertain')">
      <md-icon>toys</md-icon>
      <br>娱乐匹配
    </button>
  </md-grid-tile>
  <md-grid-tile><a md-raised-button color="primary" routerLink="/ygopro/rooms">
    <md-icon>games</md-icon>
    <br>房间列表</a></md-grid-tile>
  <md-grid-tile><a md-raised-button color="primary" routerLink="/ygopro/rooms/new">
    <md-icon>&#xe146;</md-icon><!--add_box-->
    <br>创建房间</a></md-grid-tile>
  <md-grid-tile><a md-raised-button routerLink="/ygopro/windbot">
    <md-icon>&#xe195;</md-icon><!-- airplanemode_active -->
    <br>单人模式</a></md-grid-tile>
  <md-grid-tile><a md-raised-button routerLink="/ygopro/watch">
    <md-icon>&#xe417;</md-icon><!--remove_red_eye-->
    <br>观战</a></md-grid-tile>
  <!--<md-grid-tile>-->
  <!--<button md-raised-button (click)="ygopro.watch_replay()">-->
  <!--<md-icon>history</md-icon>-->
  <!--<br>观看录像-->
  <!--</button>-->
  <!--</md-grid-tile>-->
  <md-grid-tile>
    <button md-raised-button (click)="ygopro.edit_deck()">
      <md-icon>edit</md-icon>
      <br>编辑卡组
    </button>
  </md-grid-tile>
  <md-grid-tile><a md-raised-button href="https://ygobbs.com" target="_blank">
    <md-icon>forum</md-icon>
    <br>社区</a></md-grid-tile>
  <md-grid-tile><a md-raised-button [href]="arena_url" target="_blank">
    <md-icon fontSet="fa" fontIcon="fa-trophy"></md-icon>
    <br>决斗数据库</a></md-grid-tile>
  <md-grid-tile>
    <button md-raised-button (click)="ygopro.backHome()"><span class="icon">233</span><br>直连</button>
  </md-grid-tile>
</md-grid-list>

<md-card *ngIf="ygopro.points">
  <md-grid-list id="points" cols="4" rowHeight="20px">
    <md-grid-tile>
      <dt>竞技排名</dt>
    </md-grid-tile>
    <md-grid-tile>
      <dd>{{ygopro.points.arena_rank}}</dd>
    </md-grid-tile>
    <md-grid-tile>
      <dt>娱乐排名</dt>
    </md-grid-tile>
    <md-grid-tile>
      <dd>{{ygopro.points.exp_rank}}</dd>
    </md-grid-tile>
    <md-grid-tile>
      <dt>竞技胜率</dt>
    </md-grid-tile>
    <md-grid-tile>
      <dd>{{ygopro.points.athletic_wl_ratio}}%</dd>
    </md-grid-tile>
    <md-grid-tile>
      <dt>经验</dt>
    </md-grid-tile>
    <md-grid-tile>
      <dd>{{ygopro.points.exp}}</dd>
    </md-grid-tile>
    <md-grid-tile>
      <dt>胜场</dt>
    </md-grid-tile>
    <md-grid-tile>
      <dd>{{ygopro.points.athletic_win}}</dd>
    </md-grid-tile>
    <md-grid-tile>
      <dt>胜场</dt>
    </md-grid-tile>
    <md-grid-tile>
      <dd>{{ygopro.points.entertain_win}}</dd>
    </md-grid-tile>
    <md-grid-tile>
      <dt>负场</dt>
    </md-grid-tile>
    <md-grid-tile>
      <dd>{{ygopro.points.athletic_lose}}</dd>
    </md-grid-tile>
    <md-grid-tile>
      <dt>负场</dt>
    </md-grid-tile>
    <md-grid-tile>
      <dd>{{ygopro.points.entertain_lose}}</dd>
    </md-grid-tile>
    <md-grid-tile>
      <dt>平局</dt>
    </md-grid-tile>
    <md-grid-tile>
      <dd>{{ygopro.points.athletic_draw}}</dd>
    </md-grid-tile>
    <md-grid-tile>
      <dt>平局</dt>
    </md-grid-tile>
    <md-grid-tile>
      <dd>{{ygopro.points.entertain_draw}}</dd>
    </md-grid-tile>
    <md-grid-tile>
      <dt>总场</dt>
    </md-grid-tile>
    <md-grid-tile>
      <dd>{{ygopro.points.athletic_all}}</dd>
    </md-grid-tile>
    <md-grid-tile>
      <dt>总场</dt>
    </md-grid-tile>
    <md-grid-tile>
      <dd>{{ygopro.points.entertain_all}}</dd>
    </md-grid-tile>
  </md-grid-list>
</md-card>
<md-card *ngFor="let item of ygopro.news" class="example-card">
  <a [href]="item.url" target="_blank">
    <md-card-header>
      <img *ngIf="item.image" md-card-avatar [src]="item.image">
      <md-card-title>{{item.title}}</md-card-title>
      <md-card-subtitle>{{item.updated_at | date}}</md-card-subtitle>
    </md-card-header>
  </a>
</md-card>

<md-card *ngFor="let item of ygopro.topics | async">
  <a [href]="item.url" target="_blank">
    <md-card-header>
      <img *ngIf="item.image_url" md-card-avatar [src]="item.image_url">
      <md-card-title>{{item.title}}</md-card-title>
      <md-card-subtitle>by {{item.last_poster_username}} / {{item.last_posted_at | date}}
      </md-card-subtitle>
    </md-card-header>
  </a>
</md-card>
