:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: white;
  position: absolute;
  top: 0;
  z-index: 1;
}

.hint {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.game-title {
  flex: 2
}

#container {
  flex: 1;
  padding-bottom: 36px;
  position: relative;
}

form {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

input {
  flex: 1;
  padding-left: 8px;
  padding-right: 8px;
  /*border-top: 1px solid rgba(0,0,0,.12)*/
}
