.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.game-title {
  flex: 2
}
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

md-table {
  flex: 1;
  padding-bottom: 36px;
}

form {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

input {
  flex: 1;
  padding-left: 8px;
  padding-right: 8px;
  /*border-top: 1px solid rgba(0,0,0,.12)*/
}
