:host {
  background: white;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

form {
  padding: 8px;
}

.full-width {
  display: block;
  width: 100%;
}

/*.example-margin {*/
/*margin: 0 10px;*/
/*}*/

#actions {
  text-align: right;
}
