/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~material-design-icons/iconfont/material-icons.css';
@import '~font-awesome/css/font-awesome.min.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

#loading {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#loading > img {
  width: 300px;
  height: 300px;
}

#loading p {
  position: relative;
  left: 10px;
  font-weight: 600;
  font-size: 30px;
  color: #4b99ea;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  margin-top: 0;
  margin-bottom: 1rem;
}
