:host {
  background: white;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

mat-toolbar button {
  margin-left: -8px;
  margin-right: 24px;
}

mat-toolbar span {
  flex: 1;
}
