<mat-toolbar color="primary">
  <button mat-icon-button (click)="history.back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>卡组编辑</span>
  <button mat-icon-button>
    <mat-icon>done_all</mat-icon>
  </button>
</mat-toolbar>

<mat-nav-list>
  <mat-list-item *ngFor="let deck of decks">
    <a matLine href="...">{{ deck }}</a>

    <button mat-icon-button (click)="remove(deck)">
      <mat-icon>delete_forever</mat-icon>
    </button>
    <button mat-icon-button (click)="true">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="true">
      <mat-icon>share</mat-icon>
    </button>
  </mat-list-item>
</mat-nav-list>


<!--<mat-selection-list>-->
  <!--<mat-list-option *ngFor="let deck of decks">-->
    <!--<div mat-line>{{deck}}</div>-->
    <!--<button mat-icon-button>-->
      <!--<mat-icon>info</mat-icon>-->
    <!--</button>-->
  <!--</mat-list-option>-->
<!--</mat-selection-list>-->
