mat-list-item /deep/ .mat-list-item-content {
  justify-content: space-between;
  height: 28px !important;
  padding: 0
}

mat-grid-list {
  font-size: 14px;
}

mat-grid-tile dt, mat-grid-tile dd {
  width: 100%;
}

mat-grid-tile {
  text-align: left;
}

mat-grid-tile dd {
  margin: 0;
  text-align: left;
}

.win dd {
  color: green;
}

.lose dd {
  color: red;
}

h2 {
  text-align: center;
}
